@import "./reset.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./icons/Фон\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
} 

.wraper:hover{
    display: block;
    background: rgba(60, 184, 120, 0.8);
}

.header{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.21);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.logo{
    font-size: 22px;
    font-family: Ubuntu;
    line-height: 22px;
    padding-top: 10px;
    padding-left: 79px;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    padding-top: 17px;
    padding-right: 79px;
}

.link-header{
    display: flex;
    text-decoration: none;
}

.link-link{
    font-family: Ubuntu;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.link-top:hover.log-in{
    text-decoration: underline;
}

main{
    width: 100%;
    height: 100%;
    height: calc(100vh - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form{
    display: flex;
    flex-direction: column;
    /*width: 100%;
    height: 100%;*/
    height: 584px;
    width: 444px;
    position: relative;
    background-color: #fff;
    padding: 60px;
    gap: 10px;
}

.link-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    margin-bottom: 15px;
    font-family: Ubuntu;
    margin-top: -5px;
}

.sign-up{
    font-size: 20px;
    color: #434343;
    position: relative;
    margin-top: -15px;
    margin-left: 12px;
}


.sign-up::before{
    content:" ";
    position: absolute;
    transform:rotate(90deg);
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    right: 121px;
}

.log-in{
    font-size: 14px;
    color: #3CB878;
    margin-top: -8px;
    margin-right:5px;
}

.log-in:hover{
text-decoration: underline;
}


.button-top{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-left: 10px;
}

.button-facebook{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    width: 157px;
    height: 46px;
    background: #305DB8;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    border: 0;
}

.button-facebook:hover{
    background: #022263;
    transition: 1s;
   
}

.button-google{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    width: 160px;
    height: 48px;
    background:#DF4A32;
    color: #fff;
    font-family: Ubuntu;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    
}

.button-google:hover{
    background: #AB1F09;
    transition: 1s;
}

.svg-button{
    padding-left: 10px;
    padding-bottom: 8px;
   
}

.button-text{
    font-size: 16px;
    font-family: Ubuntu;
    padding-right: 20px;
    padding-top: 5px;
}

.span{
    width: 15px;
    height: 14px;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 12px;
    margin-left: 165px;
    position: relative;
    
}

.span::before{
    content:' ';
    position: absolute;
    border-left: 1px solid #F2F2F2;
    rotate: 50(deg);
    /*top:100%;
    left: 100px;*/
    bottom: auto;
    right: auto;
}

.form-field{
    padding-bottom: 10px;
}

.imput{
    border: 1px solid #F2F2F2;
    /*border: none;*/
    outline: none;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 19px;
    width: 324px;
    height: 46px;
    font-family: Ubuntu;
    font-size: 14px;
    margin-left: 12px;
    
}

.imput:focus{
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);

}

.button-botom{
    width: 324px;
    height: 46px;
    font-family: Ubuntu;
    font-size: 14px;
    background: rgba(60, 184, 120, 0.8);
    color: #fff;
    border-radius: 4px;
    margin-left: 14px;
    margin-top: -2px;
    cursor: pointer;
    border: 0;

}

.button-botom:hover{
    background: #01813F;
    transition: 1s;
}

.checkbox{
    margin-top: 15px;
    margin-left: 21px;

}

.form-action{
    margin-top: 20px;

}

.text{
    color: #3CB878;
    transition: .5s;
}

.text:hover{
    text-decoration: underline;
    transition: 1s;
}

.svg:hover path{
    fill: #01813F;
    transition: 1s;
}

.span-link:hover{
    color:#01813F;
    transition: 1s;
}

.header:hover{
    background-color: rgba(0,0,0,0.41);
    transition: 1s;
}




